<div class="min-h-screen bg-gray-900 text-white">
  <header class="bg-purple-700 p-4 flex  justify-between items-center">
    <h1 class="text-2xl">Unreal Projects</h1>
  
    <%= button_to 'Logout', 
    destroy_user_session_path, 
    method: :delete, 
    class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded border-0 cursor-pointer' %>



  </header>

  <section class="p-8">
    <div class="text-center mb-8">
      <h2 class="text-3xl font-bold">Welcome to Unreal Projects!</h2>
      <p class="mt-4 text-lg">Showcasing the best of Unreal Engine projects by talented developers and artists.</p>
    </div>

    <div class="flex justify-center">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= link_to 'Dashboard', admin_dashboard_path, class: 'bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded' %>
        <% else %>
          <%= link_to 'Dashboard', users_dashboard_path, class: 'bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded' %>
        <% end %>
      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded' %>
        <%= link_to 'Log In', new_user_session_path, class: 'bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded ml-4' %>
      <% end %>
    </div>
  </section>

  <section class="bg-gray-800 p-8 mt-8">
    <div class="text-center mb-8">
      <h3 class="text-2xl font-bold text-purple-300">Featured Projects</h3>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-8">
      <!-- Example Project Card -->
      
        <% @projects.each do |project| %>
          <div class="bg-gray-700 text-white p-4 rounded-lg shadow-md mb-4">
            <h4 class="text-xl font-bold"><%= project.title %></h4>
            <p class="mt-2"><%= project.description %></p>
            <img src=<%= project.image_url %> alt="" class="mt-4 rounded-lg">
            <%= link_to 'View Project', project_path(project), class: 'mt-4 inline-block bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded' %>
          </div>
        <% end %>
      <!-- Repeat for more projects -->
    
  </section>

  <footer class="bg-gray-900 text-center p-4 relative bottom-0 w-full">
    <p class="text-gray-500">&copy; 2024 Unreal Projects. All rights reserved.</p>
  </footer>
</div>
